<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OgrenciBilgiSistemi.Properties.Settings.OgrenciSistemiConnectionString"
            connectionString="Data Source=LAPTOP-74SKFQ4C\SQLEXPRESS;Initial Catalog=OgrenciSistemi;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>